body {
	padding-top: 15px;
}

h1 {
	text-transform: uppercase;
}

.list-inline li {
	padding: 0px;
}

.list-inline .active,
.list-inline .active:hover {
	background-color: green;
}

#new-label-form {
	margin-bottom: 5px;
}